.Contact {
  .right-container {
    position: sticky;
    top: 40vh;
    display: flex;
    width: 50%;
    margin-left: auto;
    .texts-container {
      flex: 5;
      font-size: 24px;
      text-align: justify;
      margin: 0 40px 20px 40px;
      span {
        color: #c7a835;
        font-size: 60px;
      }
    }
  }

  .left-container {
    width: calc(50% - 10px);
    margin-left: 10px;
    .form-container {
      position: relative;
      form {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 2;
        background-image: url("../assets/backgrounds/bg4.png");
        color: #44312b;
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-left: auto;
        border-radius: 4px;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        .form-group {
          position: relative;
          margin: 10px;
          .mobile-input-container {
            display: flex;
            align-items: center;
            .country-code-select {
              margin-right: 2px;
              padding: 10px;
              border: none;
              border-radius: 4px;
              font-size: 14px;
              outline: none;
              cursor: pointer;
            }
          }
          input,
          textarea {
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            border: 1px solid #828282;
            border-radius: 4px;
            outline: none;
            font-size: 14px;
            background-color: transparent;
            color: #44312b;
          }
          // Placeholder text hides when the input is focused or contains text
          input::placeholder,
          textarea::placeholder {
            opacity: 1;
            color: #555;
          }
          label {
            position: absolute;
            left: 12px;
            top: 0px;
            font-size: 16px;
            color: #44312b;
            pointer-events: none;
            transition: all 0.2s ease;
            opacity: 0;
          }
          // When the input is focused or has a value, the label moves to the top
          input:focus + label,
          input:not(:placeholder-shown) + label,
          textarea:focus + label,
          textarea:not(:placeholder-shown) + label {
            background-image: url("../assets/backgrounds/bg4.png");
            color: #44312b;
            left: 8px;
            top: -8px;
            font-size: 12px;
            opacity: 1;
          }
          // When input is focused or has value, hide the placeholder text
          input:focus::placeholder,
          textarea:focus::placeholder {
            opacity: 0;
          }
        }
        button {
          background-color: #c7a835;
          margin: 10px;
          padding: 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
